[submodule "public/bootstrap"]
	path = public/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "public/select2"]
	path = public/select2
	url = https://github.com/ivaynberg/select2.git