extends layout

block content
  .hero-unit
    h1 #{title}
    p
      | Share your videos, find new videos, and explore video slices with paritioned comments. Use it as a starting point to create something unique.
    p
      a.btn.btn-primary.btn-large Learn more &raquo;