extends layout

block content
  .container.hero-unit
    .row
      h1 #{title}
      .span8.index-content
        p
          | Share your videos, find new videos, and explore video slices with paritioned comments. Use it as a starting point to create something unique.
        p
          a.btn.btn-primary.btn-large Learn more &raquo;
      .span4.widget-content
        .widget-box
          .form-horizontal.well.row
            fieldset
              legend Sign up for free!
              .control-group
                input.span4(type="text", placeholder="Username", id="username")
              .control-group
                input.span4.inline(type="text", placeholder="First Name", id="first_name")
              .control-group
                input.span4.inline(type="text", placeholder="Last Name", id="last_name")
              .control-group
                input.span4(type="text", placeholder="Password", id="password")
              .control-group
                input.span4(type="text", placeholder="Retype password")
              .control-group
                input.span4(type="text", placeholder="Email", id="email")
              .control-group
                input.span4(type="date", placeholder="dd/mm/yyy", id="birth_date")
              .control-group
                select.span4(name="gender", id="gender")
                  option Gender
                  option Male
                  option Female
              .control-group
                button.btn.btn-primary(type="submit") Create My Account
