extends layout

block content
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") IO        
        div.nav-collapse.collapse
          ul.nav
            li.active
              a(href="#") Home
            li
              a(href="about") About
            li
              a(href="contact") Contact
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown 
                b.caret
              ul.dropdown-menu
                li
                  a(href="#") Action
          form.navbar-form.pull-right
            input.span2(type= "text", placeholder= "Email")
            input.span2(type= "password", placeholder= "Password")
            button.btn(type="submit") Sign In
            button.btn fb sign in
 
  div.container
    div.container(style="background-image:url(/images/360-bg-grey-gradient.jpg)")
      form.pull-right
        fieldset
          legend
            font(color="#FFCC00") New to IO, sign up for free     
          div
            input(type="text", placeholder="Username")
          div
            input(type="text", placeholder="Password")
          div
            input(type="text", placeholder="Retype password")
          div
            input(type="text", placeholder="Email")
          div
            input(type="radio", name="signup_radio_gender", value= "Male")
            label Male
            input(type="radio", name="signup_radio_gender", value= "Female")
            label Female
          div
            button.btn.btn-primary(type="submit") Sign Up
 
  script(type='text/javascript', src='/javascripts/jquery.min.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')

