doctype 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title IO
    - var DEFAULT_BOOTSTRAP_CSS_PATH = "bootstrap/docs/assets/css/"
    - var DEFAULT_BOOTSTRAP_CSS = ["bootstrap.css", "bootstrap-responsive.css"]
    each item in DEFAULT_BOOTSTRAP_CSS
      link(href= DEFAULT_BOOTSTRAP_CSS_PATH + item, rel='stylesheet')
    script(src="javascripts/jquery.min.js")
    style(type='text/css')
      .dropdown-menu-group {
        margin: 10px;
      }
      .inline-select {
        margin-left: 10px;
      }
    script
      $(function(){
        $('.dropdown-menu form').on('click', function (e) {
          e.stopPropagation();
        });
      });
    block scripts
    body
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand IO
            .nav-collapse.collapse
              ul.nav
                form.navbar-form
                  input.search-query.span4(type='text', placeholder='Search', data-provide="typeahead")
                  button.btn.btn-danger(type='submit', style='margin-left:5px;')
                    i.icon-white.icon-search
              ul.nav
                div
                  a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown')
                    i.icon-white.icon-user
                    |  Sign In &#32;
                    strong.caret
                  ul.dropdown-menu
                    li
                      form(action='/login', method='post', style='height: 140px;')
                        .dropdown-menu-group
                          input#user_login(type='text', placeholder='E-mail or Username', name='user[username]')
                          input#user_pass(type='password', placeholder='Password', name='user[password]')
                          label.checkbox
                            input(type='checkbox', value='')
                            | Remember me
                          .divider
                        input.btn.btn-primary(type='submit', style='margin: 5px 0px 5px 85px') Sign In
      block content
      hr
      footer
        .container
          p.
            &copy; IO 2012

    - var DEFAULT_BOOTSTRAP_JS_PATH = "bootstrap/js/"
    - var DEFAULT_BOOTSTRAP_JS = ["bootstrap-button.js", "bootstrap-transition.js", "bootstrap-dropdown.js", "bootstrap-collapse.js"]
    each item in DEFAULT_BOOTSTRAP_JS
      script(src= DEFAULT_BOOTSTRAP_JS_PATH + item)
