extends layout

block append styles
  link(href="stylesheets/jquery.fileupload-ui.css", rel="stylesheet")

block content
  .container
    .row
      .span7.widget-content
        .well
          fieldset
            legend Create Videos
            .row-fluid
              a.span4.btn.btn-primary.dropdown-toggle(data-toggle='dropdown')
                i.icon-white.icon-camera
                |  Webcam
              a.span4.btn.btn-primary.dropdown-toggle(data-toggle='dropdown')
                i.icon-white.icon-picture
                |  Photo album
              a.span4.btn.btn-primary.dropdown-toggle(data-toggle='dropdown')
                i.icon-white.icon-facetime-video
                |  Video Chat
  .container
    .row#uploadBox
      .span7.widget-content
        .well
          fieldset
            legend Upload your video here!
            .row-fluid#uploadArea
              div.hero-unit
                span.uneditable-input#fileinput(style='cursor:default;')
                span.btn.btn-success.fileinput-button
                  span Select File
                  input#file(type='file', name='file')
                label.center
                  | Choose a Video File,
                  br
                  | Or drag and drop into this box

block append scripts
  script(src="javascripts/jquery.ui.widget.js")
  script(src="javascripts/jquery.fileupload.js")
  script
    $(function() {
      $('#file').fileupload({
          dataType: 'json',
          add: function (e, data) {
            var filetext = "<i class='icon-file'></i>&#32;";
            $('#fileinput').html(filetext + data.files[0].name);
          },
          done: function (e, data) {}
        });
    });
