body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Account login dropdown */
.dropdown-menu-group {
  margin: 10px;
}
.inline-select {
  margin-left: 10px;
}

/*  Video page css */
.videoArea
{
	padding-top: 0;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    resize:none;
}

.divCommentBox {
	height:500px;
}

.divCommentBox2 {
  height:250px;
}

.div10pxTBPad {
  padding-top:25px;
  padding-bottom: 30px;
}

div.center {
  text-align: center;
}

label.center {
  text-align: center;
}